

div#group_pic{
	position:relative;
	margin-top: 8%;
	margin-left:15%;
	background-color:#fff;
	border: 2px dotted #000;
	width:65%;
	height:25%;
	float:left;
	z-index:22;
}
#group_img{
 max-width: 100%;
	width:384px;
	height:200px;
	}
div.group_detail{
	position:relative;
	margin-top: 5%;
	margin-left:5%;
	color:#000;
	background-color:#fff;
	border: 2px dotted #000;
	width:90%;
	height:53%;
	float:left;
	z-index:22;
}