html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
margin:0;
padding:0;
border:0;
max-width:100%;
max-height:150%;
}
body{
overflow:hidden;
font-family: Monaco, monospace;
}
#wrapper{
position:absolute;
width:100%;
height:100%;
background-color:#010101;
}
.holder{
position:absolute;
font-size:18px;
padding:20px;
font-weight:100;
color:#e6ffc0;
float:left;
}
#holder6{
    animation: blink 1s steps(5, start) infinite;
      -webkit-animation: blink 1s steps(5, start) infinite;
	  }
@keyframes blink {to {visibility: hidden;}}
@-webkit-keyframes blink {to {visibility: hidden; }}



