html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
margin:0;
padding:0;
border:0;
max-width:100%;
}
body {
  font-family:"Roboto Condensed","HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; 
  letter-spacing:0px;
  }
    @media(max-width: 600px) {
	
	   #page1{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background-color:#363636;
  overflow:hidden;
  float:left;
  z-index:0;
  }
  #page1_text1{
  position:absolute;
  left:10%;
  top:15%;
  font-size:20px;
  font-weight:300;
  color:#fffefe;
  text-align:center;
  width:80%;
  float:left;
  z-index:3;
  }
  #title{
     position:absolute;
	top:55%;
	left:10%;
	height:25%;
	width:80%;
	background: url(images/title.png) no-repeat center transparent; 
    -webkit-background-size: contain contain;
    -moz-background-size: contain contain;
    -o-background-size:contain contain;
    background-size: contain contain;
  
  }
    #page1_text2{
  position:absolute;
	margin-top:45%;
	left:30%;
  font-size:16px;
  font-weight:100;
  color:#fffefe;
  text-align:center;
  padding:5%;
  width:30%;
  float:left;
  z-index:3;
  }
 
  #page1_part2{visibility:hidden;}
  #arrow{
	  position:absolute;
  bottom:3%;
  left:40%;
  width:20%;
  height:20%;
  
  }
 /*-----------------------------------------page2-------------------------------------*/ 	
	
  #page2{
   position:absolute;
  top:100vh;
  left:0;
  width:100%;
  height:1100vh;
  overflow-x:hidden;
  float:left;
  z-index:3;   
   }
   #page2_part1{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  color:#fff;
  background-color:#40b2fa;
  float:left;
  z-index:5;
  }
   #page2_part1_txt1{
  position:absolute;
  left:0;
  width:100%;
  height:auto;
  text-align:center;
  float:left;
  z-index:6;
  }
   #page2_part1_txt2{
  position:absolute;
  height:30%;
  font-weight:100;
  float:left;
  z-index:6;
  }
   #page2_part1_txt3{
  position:absolute;
  height:auto;
  font-weight:100;
  float:left;
  z-index:6;
  }  
  #page2_part1_pic1{
    	position:absolute;
	top:35%;
	left:55%;
	height:70%;
	width:45%;
	background: url(images/pic2.png) no-repeat top left transparent; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;  
  }
  
	  				/*-----------------------------------------page2_part2-------------------------------------*/
    #page2_part2{
  position:absolute;
  top:100vh;
  left:0;
  width:100%;
  height:100vh;
  padding:0;
  color:#363636;
  background-color:#f7f7f7;
  float:left;
  z-index:5;
  }
    #page2_part2_txt1{
  position:absolute;
  top:5%;
  margin-left:5%;
  width:90%;
  font-size:24px;
  word-spacing:7px;
  float:left;
  z-index:6;
  }

  .p2p2_pic{
  position:relative;
  top:-10%;
	margin-top:20%;
	margin-left:10%;
  float:left;
  z-index:8;
  }
  .p2_pic_det{
  position:absolute;
  width:100%;
  margin-top:100%;
  height:auto;
  line-height:12px;
  text-align:center;
  font-size:12px;
   }
   .p2desc{visibility:hidden;}
   
  #page2_part2_pic1{
	  width:20%;
 	 height:20%;
	background: url(images/p25.png) no-repeat  transparent; 
	background-position:top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  
  }
    #page2_part2_pic2{
	  width:20%;
 	 height:20%;
	background: url(images/p24.png) no-repeat  transparent; 
	background-position:top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
   
  
  }
    #page2_part2_pic3{
	  width:20%;
 	 height:20%;
	background: url(images/p23.png) no-repeat  transparent; 
	background-position:top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
    #page2_part2_pic4{
	  width:20%;
 	 height:20%;
	background: url(images/p22.png) no-repeat  transparent; 
	background-position:top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
   
  
  }
    #page2_part2_pic5{
	  width:20%;
 	 height:20%;
	background: url(images/p21.png) no-repeat  transparent; 
	background-position:top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
   
  
  }
    #page2_part2_pic6{
	  width:20%;
 	 height:20%;
	background: url(images/p20.png) no-repeat  transparent; 
	background-position:top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
   
  
  }
  				/*-----------------------------------------page2_part3-------------------------------------*/
				  				/*-----------------------------------------page2_part3-------------------------------------*/

  
  
 #page2_part3_p1{
  position:absolute;
  top:200vh;
  left:0;
  width:100%;
  height:100vh;
  color:#fff;
  background-color:#464646;
  z-index:9;

 }

  #page2_p3p1_txt1{
  position:absolute; 
  font-weight:100;
  float:left;
  z-index:8;  
  }
  #apos{visibility:hidden;}
  #page2_p3p1_txt2{
  position:absolute;
  margin-left:10%;
  float:left;
  z-index:8;  
  }
  #page2_p3p1_txt3{
  position:absolute;
  width:45%;
  float:left;
  z-index:8;  
  }
   
  #page2_p3_pic1{
    position:absolute;
	bottom:10%;
	left:55%;
	height:40%;
	width:40%;
	background: url(images/p0.png) no-repeat center transparent; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
	z-index:9;	
    } 
	#cover1{
	position:absolute;
	top:0;left:0;
	height:100%;
	width:100%;
	z-index:1000;	
	}
   .sp{
    position:absolute;
	transform:scale(0.5);
	height:50%;
	width:40%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; 
z-index:90;	
   }

   #sp1{
   top:-10%;
	left:30%;
   background: url(images/p1.png) no-repeat center transparent; 
   }
   #sp2{
   top:-2%;
	left:40%;
   background: url(images/p2.png) no-repeat center transparent; 
   }
   #sp3{
   top:3%;
	left:45%;
   background: url(images/p3.png) no-repeat center transparent; 
   }
   #sp4{
   top:24%;
	left:50%;
   background: url(images/p4.png) no-repeat center transparent; 
   }
   #sp5{
   top:12%;
	left:50%;
   background: url(images/p5.png) no-repeat center transparent; 
   }
   #sp6{
   top:2%;
	left:50%;
   background: url(images/p6.png) no-repeat center transparent; 
   }
   #sp7{
   top:-8%;
	left:50%;
   background: url(images/p7.png) no-repeat center transparent; 
   }
   #sp8{
   top:1%;
	left:60%;
   background: url(images/p8.png) no-repeat center transparent; 
   }
     #sp9{
   top:-5%;
	left:70%;
   background: url(images/p9.png) no-repeat center transparent; 
   }
     #sp10{
   top:-10%;
	left:65%;
   background: url(images/p10.png) no-repeat center transparent; 
   }
     
	 
	 
    
 #page2_part3_p2{
  position:absolute;
  top:300vh;
  left:0;
  width:100%;
  height:100vh;
  background-color:#f7f7f7;
  z-index:11;
  }
    #page2_p3p2_txt1{
  position:absolute;
  margin-left:10%;
  float:left;
  z-index:8;  
  }
  
  #page2_p3p2_txt2{
  position:absolute;
  float:left;
  z-index:8;  
  }
  #page2_p3p2_txt3{
  position:absolute;
  width:43%;
  float:left;
  z-index:8;  
  }
  
  #page2_p3_pic2{
        position:absolute;
	bottom:0%;
	left:5%;
	height:80%;
	width:40%;
	background: url(images/pic3.png) no-repeat center transparent; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;  
    }
	
	 				/*-----------------------------------------page2_part4-------------------------------------*/
				 				
  #page2_part4{
  position:absolute;
  top:400vh;
  left:0;
  width:100%;
  height:100vh;
  color:#fff;
  background-color:#40b2fa;
  float:left;
  z-index:35;
  }
   #page2_part4_txt1{
  position:absolute;
  width:100%;
  height:auto;
  text-align:center;
  float:left;
  z-index:6;
  }
   #page2_part4_txt2{
  position:absolute;
  float:left;
  z-index:6;
  }
   #page2_part4_txt3{
  position:absolute;
  height:auto;
  float:left;
  z-index:6;
  }  
  
    #page2_p4_pic1{
        position:absolute;
	bottom:0;
	left:55%;
	height:80%;
	width:45%;
	background: url(images/pic4.png) no-repeat center transparent; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;  
    }
  					/*-----------------------------------------page2_part5-------------------------------------*/
  				
				
 
   #page2_part5{
  position:absolute;
  top:500vh;
  left:0;
  width:100%;
  height:100vh;
  float:left;
  z-index:60;
  } 
  
  
 #page2_part5_p1{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:33.33%;
  background-color:#f7f7f7;

 }

  #page2_p5p1_txt1{
  position:absolute;
  margin-left:20%;
  width:80%;
  float:left;
  z-index:8;  
  }
  #page2_p5_pic1{
      	position:absolute;
	bottom:0;
	left:0%;
	height:90%;
	width:40%;
	background: url(images/pic5.png) no-repeat center transparent; 
 -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;  
  
  }
  
  #page2_p5p1_txt2{
  position:absolute;
  width:40%;
  font-weight:200;
  float:left;
  z-index:8;  
  }

   
 #page2_part5_p2{
  position:absolute;
  top:33.33%;
  left:0;
  width:100%;
  height:33.33%;
  color:#fff;
  background-color:#464646;
  
  }
    #page2_p5p2_txt1{
  position:absolute;
  float:left;
  z-index:8;  
  }
  
  
  #page2_p5p2_txt2{
  position:absolute;
  width:40%;
  font-weight:200;
  float:left;
  z-index:8;  
  }
    
    #page2_p5_pic2{
        position:absolute;
	bottom:0%;
	left:45%;
	height:80%;
	width:50%;
	background: url(images/pic6.png) no-repeat center transparent; 
     -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;   
    }
  #page2_part5_p3{
  position:absolute;
  top:66.66%;
  left:0;
  width:100%;
  height:33.33%;
  background-color:#f7f7f7;
  
  }
    #page2_p5p3_txt1{
  position:absolute;
  margin-left:40%;
  width:60%;
  float:left;
  z-index:8;  
  }
    #page2_p5_pic3{
      	position:absolute;
	bottom:0;
	left:3%;
	height:80%;
	width:45%;
	background: url(images/pic7.png) no-repeat center transparent; 
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; 
  }
  
  #page2_p5p3_txt2{
  position:absolute;
  width:40%;
  font-weight:200;
  float:left;
  z-index:8;  
  }
  
    					/*-----------------------------------------page2_part6-------------------------------------*/
  
   #page2_part6{
  position:absolute;
  top:600vh;
  left:0;
  width:100%;
  height:100vh;
  color:#fff;
  background-color:#40b2fa;
  float:left;
  z-index:55;
  } 
  #page2_part6_pic1{
  	position:absolute;
	top:20%;
	left:55%;
	height:80%;
	width:45%;
	background: url(images/pic8.png) no-repeat center transparent; 
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;  
    z-index:20;

  }
    #page2_part6_txt1{
  position:absolute;
  left:0;
  width:100%;
  height:auto;
  text-align:center;
  float:left;
  z-index:6;
  }
   #page2_part6_txt2{
  position:absolute;
  float:left;
  z-index:6;
  }
   #page2_part6_txt3{
  position:absolute;
  height:auto;
  float:left;
  z-index:6;
  }  
  				/*-----------------------------------------page2_part7-------------------------------------*/
				
	 
     #page2_part7{
  position:absolute;
  top:700vh;
  left:0;
  width:100%;
  height:100vh;
  float:left;
  z-index:60;
  } 
  
  
 #page2_part7_p1{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:33.33%;
    background-color:#f7f7f7;
 }

  #page2_p7p1_txt1{
  position:absolute;
  margin-left:20%;
  float:left;
  z-index:8;  
  }
  
  #page2_p7p1_txt2{
  position:absolute;
  float:left;
  z-index:8;  
  }

 #page2_part7_p2{
  position:absolute;
  top:33.33%;
  left:0;
  width:100%;
  height:33.33%;
    color:#fff;
  background-color:#464646;
  
  }
    #page2_p7p2_txt1{
  position:absolute;
   margin-left:5%;
   width:80%;
  float:left;
  z-index:8;  
  }
  
  #page2_p7p2_txt2{
  position:absolute;
   margin-left:5%;
  float:left;
  z-index:8;  
  }
   #page2_part7_p3{
  position:absolute;
  top:66.66%;
  left:0;
  width:100%;
  height:33.33%;
  background-color:#f7f7f7;
  
  }
    #page2_p7p3_txt1{
  position:absolute;
  float:left;
  z-index:8;  
  }
  
  #page2_p7p3_txt2{
  position:absolute;
  float:left;
  margin-left:45%;
  width:54%;
  z-index:8;  
   }
   #page2_p7_pic1{
    position:absolute;
	top:20%;
	left:0%;
	height:80%;
	width:40%;
	background: url(images/pic9.png) no-repeat center transparent; 
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;  
    }
   	
    #page2_p7_pic2{
        position:absolute;
	top:2%;
	left:55%;
	height:90%;
	width:40%;
	background: url(images/pic10.png) no-repeat center transparent; 
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;  
    }
     #page2_p7_pic3{
        position:absolute;
	top:2%;
	left:0%;
	height:90%;
	width:35%;
	background: url(images/pic11.png) no-repeat center transparent; 
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;  
    }  
   
   
   				/*-----------------------------------------page2_part8-------------------------------------*/
				 				/*-----------------------------------------page2_part8-------------------------------------*/
  
   #page2_part8{
  position:absolute;
  top:800vh;
  left:0;
  width:100%;
  height:100vh;
  color:#fff;
  background-color:#40b2fa;
  float:left;
  z-index:80;
  } 
    #page2_part8_clone{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  color:#fff;
  float:left;
  z-index:10;
  visibility:hidden;
  } 

    #page2_part8_txt1{
  position:absolute;
  margin-left:0;
  width:100%;
  height:auto;
  text-align:center;
  float:left;
  z-index:6;
  }
   #page2_part8_txt2{
  position:absolute;
  height:30%;
  float:left;
  z-index:6;
  }
   #page2_part8_txt3{
  position:absolute;
  width:45%;
  height:auto;
  float:left;
  z-index:6;
  }  
   #page2_p8_pic1{
        position:absolute;
        bottom:190vh;left:0;
	height:70vh;
	width:100%;
	background: url(images/pic12.png) no-repeat center transparent; 
	-webkit-background-size: 100% 100%; 
    -moz-background-size: 100% 100%; 
    -o-background-size: 100% 100%; 
    background-size: 100% 100%;  
    z-index:200;
    }

   
       	#cover2{
	position:absolute;
	top:0;left:0;
	height:100%;
	width:100%;
	z-index:1000;	
	}
   				/*-----------------------------------------page2_part9-------------------------------------*/
				
	
   #page2_part9{
  position:absolute;
  top:900vh;
  left:0;
  width:100%;
  height:100vh;
  background-color:#fff;
  float:left;
  z-index:801;
  } 
#wrap9{
position:absolute;
top:0;left:0;
width:100%;
height:60%;
float:left;
}
  .p2p9_pic{
  position:relative;
  top:20%;
  margin-left:10%;
  text-align:center;
  float:left;
  z-index:8;
  }
  .p2_p9_det{
  position:absolute;
  margin-top:100%;
  width:100%;
  height:auto;
  font-size:12px;
   }

   
  #page2_part9_pic1{
	  width:20%;
 	 height:150px;
	background: url(images/pic16.png) no-repeat  transparent; 
	background-position:top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; 
  
  }
     
  #page2_part9_pic2{
	    width:20%;
 	 height:150px;
	background: url(images/pic15.png) no-repeat  transparent; 
	background-position:top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; 
  
  }
     
  #page2_part9_pic3{
	   width:20%;
 	 height:150px;
	background: url(images/pic14.png) no-repeat  transparent; 
	background-position:top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  
  }
  #footer{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:40%;
  color:#fff;
  background-color:#464646;
  float:left;
  font-weight:100;
  z-index:80;
  }
  #foot_title{
  position:absolute;
  top:10%;
  left:3%;
  font-size:20px;
  width:100%;
  float:left;
  z-index:80; 
  }
    #foot_sub{
  position:absolute;
  top:35%;
  left:5%;
  font-size:13px;
  line-height:20px;
  width:100%;
  float:left;
  z-index:80; 
  }
  #foot_logo{
    position:absolute;
	bottom:15%;left:0;
	height:15%;
	width:100%;
	background: url(images/title.png) no-repeat center transparent; 
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; 
    }
	#foot_email{
	position:absolute;
	width:99%;
	bottom:5%;left:0;
	text-align:center;
	color:#fff;
	float:left;
	z-index:100;	
	}
	     #page2_part10{
  position:absolute;
  top:1000vh;
  left:0;
  width:100%;
  height:100vh;
  background-color:#fff;
  float:left;
  z-index:80;
  } 
	
		  .left_indent{margin-left:2vw;}
   .right_indent{margin-left:50vw;}
   	  .txt1{top:5%;font-weight:300;font-size:25px;}
   .txt2{top:30%;width:50%;font-size:20px;font-weight:100;}
   .txt3{top:52%;width:45%;font-size:14px;font-weight:100;}
    .subtxt1{top:5%;font-size:15px;}
   .subtxt2{top:25%;font-size:12px;width:45%;font-weight:100;}
	
	 @media(max-width: 300px) {
	 
	 	
	 #page1_text1{font-size:18px;left:10%;}
	 #page1_text2{top:60%;left:30%;font-size:16px;}
	   #title{
	visibility:hidden;
	}
    #page2_part2_txt1{font-size:16px;}
	 .p2p2_pic{margin-top:25%;}
	.p2_pic_det{margin-top:100%;font-size:11px;}
	 #page2_p3_pic1{visibility:hidden}
	 .sp{visibility:hidden;}
	#page2_part6_pic1{top:10%;}
	
	 .p2_p9_det{margin-top:100%;}
	
		  .left_indent{margin-left:5vw;}
   .right_indent{margin-left:60vw;}
   	  .txt1{top:5%;font-weight:300;font-size:20px;}
   .txt2{top:30%;width:70%;font-size:16px;font-weight:100;}
   .txt3{top:55%;width:60%;font-size:11px;font-weight:100;}
    .subtxt1{top:11%;font-size:12px;width:100%;}
   .subtxt2{top:20%;font-size:10px;width:50%;font-weight:100;}
	 #foot_logo,#foot_email{visibility:hidden;}
	 #foot_title{font-size:16px;}#foot_sub{font-size:11px}
	 
	 }
		
	@media(max-height: 520px) {
		#page1_text2{margin-top:5%;}
	.p2p2_pic{margin-top:8%;}
	.p2_pic_det{top:0%;font-size:12px;}
	 .subtxt1{top:8%;font-size:11px;}
   .subtxt2{top:15%;font-size:9px;}
	}
}	

	
	
	

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

@media(min-width:600px) {
   #page1{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background-color:#f7f7f7;
  overflow:hidden;
  float:left;
  z-index:0;
  }
  #page1_part1{
  	position:absolute;
	top:0;
	left:0;
	height:70%;
	width:100%;
	 background-color:#363636;
	 z-index:1;
  }

  #page1_text1{
  position:absolute;
  top:25%;
  left:56%;
  font-size:28px;
  font-weight:300;
  color:#fffefe;
  text-align:center;
  width:35%;
  float:left;
  z-index:3;
  }
  #title{
     position:absolute;
	top:65%;
	left:65%;
	height:69px;
	width:256px;
	background: url(images/title.png) no-repeat center transparent; 
    -webkit-background-size: contain contain;
    -moz-background-size:contain contain;
    -o-background-size: contain contain;
    background-size: contain contain; 
  
  }
    #page1_text2{
	margin-top:20%;
  font-size:21px;
  font-weight:100;
  }
  #page1_pic1{
  position:absolute;
   display: block;
	bottom:0;
	left:5%;
	height:92%;
	width:50%;
  	background: url(images/pic1.png) no-repeat transparent;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
	float:left;
	z-index:5;
}	
   #page1_part2{
  position:absolute;
  left:0;
  top:70%;
  width:100%;
  height:30%;
  font-size:20px;
  text-align:center;
  float:left;
  z-index:2;
  }
  
  .p1_txt3{
  position:relative;
  margin-left:7%;
  margin-top:1%;
  width:24%;
  height:100%;
  float:left;
  }

  .page1_subtext{
  font-size:16px;
 margin-top:15px;
  }
  


  
  #arrow{
  position:absolute;
  bottom:3%;
  left:46%;
  width:7%;
  height:7%;
  
  }
 /*-----------------------------------------page2-------------------------------------*/ 
 
  #page2{
   position:absolute;
  top:100vh;
  left:0;
  width:100%;
  height:1100vh;
  overflow-x:hidden;
  float:left;
  z-index:3;   
   }
   #page2_part1{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  color:#fff;
  background-color:#40b2fa;
  float:left;
  z-index:5;
  }
   #page2_part1_txt1{
  position:absolute;
  left:0;
  width:100%;
  height:auto;
  text-align:center;
  float:left;
  z-index:6;
  }
   #page2_part1_txt2{
  position:absolute;
  height:30%;
  font-weight:100;
  float:left;
  z-index:6;
  }
   #page2_part1_txt3{
  position:absolute;
  height:auto;
  font-weight:100;
  float:left;
  z-index:6;
  }  
  #page2_part1_pic1{
    	position:absolute;
	top:15%;
	left:55%;
	height:70%;
	width:45%;
	background: url(images/pic2.png) no-repeat top left transparent; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;  
  
  
  }
  
  				/*-----------------------------------------page2_part2-------------------------------------*/
    #page2_part2{
  position:absolute;
  top:100vh;
  left:0;
  width:100%;
  height:100vh;
  padding:0;
  color:#363636;
  background-color:#f7f7f7;
  float:left;
  z-index:15;
  }
    #page2_part2_txt1{
  position:absolute;
  top:5%;
  margin-left:5%;
  width:90%;
  font-size:42px;
  word-spacing:7px;
  float:left;
  z-index:6;
  }

  .p2p2_pic{
  position:relative;
  top:-8%;
	margin-top:10%;
	margin-left:7%;
  float:left;
  z-index:8;
  }
  .p2_pic_det{
  position:absolute;
  width:100%;
  margin-top:60%;
  height:auto;
  line-height:15px;
  text-align:center;
  font-size:18px;
   }
   .p2desc{padding-top:7px;font-size:16px;}
   
  #page2_part2_pic1{
	  width:24%;
 	 height:20%;
	background: url(images/p25.png) no-repeat  transparent; 
	background-position:top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  
  }
    #page2_part2_pic2{
	  width:24%;
 	 height:20%;
	background: url(images/p24.png) no-repeat  transparent; 
	background-position:top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
   
  
  }
    #page2_part2_pic3{
	  width:24%;
 	 height:20%;
	background: url(images/p23.png) no-repeat  transparent; 
	background-position:top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
   
  
  }
    #page2_part2_pic4{
	  width:24%;
 	 height:20%;
	background: url(images/p22.png) no-repeat  transparent; 
	background-position:top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
   
  
  }
    #page2_part2_pic5{
	  width:24%;
 	 height:20%;
	background: url(images/p21.png) no-repeat  transparent; 
	background-position:top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
   
  
  }
    #page2_part2_pic6{
	  width:24%;
 	 height:20%;
	background: url(images/p20.png) no-repeat  transparent; 
	background-position:top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
   
  
  }
  
   
  				/*-----------------------------------------page2_part3-------------------------------------*/
				  				/*-----------------------------------------page2_part3-------------------------------------*/

  
  
 #page2_part3_p1{
  position:absolute;
  top:200vh;
  left:0;
  width:100%;
  height:100vh;
  color:#fff;
  background-color:#464646;
	z-index:20;
 }
#apos{
position:absolute;
left:1%;
top:15%;

}
  #page2_p3p1_txt1{
  position:absolute; 
  font-size:45px;
  font-weight:100;
  float:left;
  z-index:8;  
  }
  
  #page2_p3p1_txt2{
  position:absolute;
  margin-left:10%;
  float:left;
  z-index:8;  
  }
  #page2_p3p1_txt3{
  position:absolute;
  width:45%;
  float:left;
  z-index:8;  
  }
   
  #page2_p3_pic1{
    position:absolute;
	bottom:0;
	left:55%;
	height:40%;
	width:40%;
	background: url(images/p0.png) no-repeat center transparent; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
	z-index:9;	
    } 
	#cover1{
	position:absolute;
	top:0;left:0;
	height:100%;
	width:100%;
	z-index:1000;	
	}
   .sp{
    position:absolute;
	height:50%;
	width:40%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; 
z-index:90;	
   }

   #sp1{
   top:2%;
	left:70%;
   background: url(images/p1.png) no-repeat center transparent; 
   }
   #sp2{
   top:5%;
	left:65%;
   background: url(images/p2.png) no-repeat center transparent; 
   }
   #sp3{
   top:15%;
	left:60%;
   background: url(images/p3.png) no-repeat center transparent; 
   }
   #sp4{
   top:20%;
	left:48%;
   background: url(images/p4.png) no-repeat center transparent; 
   }
   #sp5{
   top:0%;
	left:65%;
   background: url(images/p5.png) no-repeat center transparent; 
   }
   #sp6{
   top:20%;
	left:43%;
   background: url(images/p6.png) no-repeat center transparent; 
   }
   #sp7{
   top:-5%;
	left:47%;
   background: url(images/p7.png) no-repeat center transparent; 
   }
   #sp8{
   top:-10%;
	left:43%;
   background: url(images/p8.png) no-repeat center transparent; 
   }
     #sp9{
   top:4%;
	left:48%;
   background: url(images/p9.png) no-repeat center transparent; 
   }
     #sp10{
   top:7%;
	left:45%;
   background: url(images/p10.png) no-repeat center transparent; 
   }
     
	 
	 
    
 #page2_part3_p2{
  position:absolute;
  top:300vh;
  left:0;
  width:100%;
  height:100vh;
  background-color:#f7f7f7;
  z-index:25;
  }
    #page2_p3p2_txt1{
  position:absolute;
  margin-left:20%;
  font-weight:40px;
  float:left;
  z-index:8;  
  }
  
  #page2_p3p2_txt2{
  position:absolute;
  font-weight:100;
  float:left;
  z-index:8;  
  }
  #page2_p3p2_txt3{
  position:absolute;
  width:43%;
  float:left;
  z-index:8;  
  }
  
  #page2_p3_pic2{
        position:absolute;
	bottom:0%;
	left:5%;
	height:80%;
	width:40%;
	background: url(images/pic3.png) no-repeat center transparent; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;  
    }
  				/*-----------------------------------------page2_part4-------------------------------------*/
				 				
  #page2_part4{
  position:absolute;
  top:400vh;
  left:0;
  width:100%;
  height:100vh;
  color:#fff;
  background-color:#40b2fa;
  float:left;
  z-index:35;
  }
   #page2_part4_txt1{
  position:absolute;
  width:100%;
  height:auto;
  text-align:center;
  float:left;
  z-index:6;
  }
   #page2_part4_txt2{
  position:absolute;
  float:left;
  z-index:6;
  }
   #page2_part4_txt3{
  position:absolute;
  height:auto;
  float:left;
  z-index:6;
  }  
  
    #page2_p4_pic1{
        position:absolute;
	bottom:0;
	left:55%;
	height:80%;
	width:45%;
	background: url(images/pic4.png) no-repeat center transparent; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;  
    }
  					/*-----------------------------------------page2_part5-------------------------------------*/
  				
				
 
   #page2_part5{
  position:absolute;
  top:500vh;
  left:0;
  width:100%;
  height:100vh;
  float:left;
  z-index:50;
  } 
  
  
 #page2_part5_p1{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:33.33%;
  background-color:#f7f7f7;

 }

  #page2_p5p1_txt1{
  position:absolute;
  float:left;
  z-index:8;  
  }
  #page2_p5_pic1{
      	position:absolute;
	bottom:0;
	left:0%;
	height:90%;
	width:45%;
	background: url(images/pic5.png) no-repeat center transparent; 
 -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;  
  
  }
  
  #page2_p5p1_txt2{
  position:absolute;
  width:40%;
  font-weight:200;
  float:left;
  z-index:8;  
  }

   
 #page2_part5_p2{
  position:absolute;
  top:33.33%;
  left:0;
  width:100%;
  height:33.33%;
  color:#fff;
  background-color:#464646;
  
  }
    #page2_p5p2_txt1{
  position:absolute;
  float:left;
  z-index:8;  
  }
  
  
  #page2_p5p2_txt2{
  position:absolute;
  width:40%;
  font-weight:200;
  float:left;
  z-index:8;  
  }
    
    #page2_p5_pic2{
        position:absolute;
	bottom:0%;
	left:45%;
	height:80%;
	width:50%;
	background: url(images/pic6.png) no-repeat center transparent; 
     -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;   
    }
  #page2_part5_p3{
  position:absolute;
  top:66.66%;
  left:0;
  width:100%;
  height:33.33%;
  background-color:#f7f7f7;
  
  }
    #page2_p5p3_txt1{
  position:absolute;
  width:45%;
  float:left;
  z-index:8;  
  }
    #page2_p5_pic3{
      	position:absolute;
	bottom:0;
	left:3%;
	height:80%;
	width:45%;
	background: url(images/pic7.png) no-repeat center transparent; 
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; 
  }
  
  #page2_p5p3_txt2{
  position:absolute;
  width:40%;
  font-weight:200;
  float:left;
  z-index:8;  
  }
  
    					/*-----------------------------------------page2_part6-------------------------------------*/
  
   #page2_part6{
  position:absolute;
  top:600vh;
  left:0;
  width:100%;
  height:100vh;
  color:#fff;
  background-color:#40b2fa;
  float:left;
  z-index:55;
  } 
  #page2_part6_pic1{
  	position:absolute;
	top:20%;
	left:55%;
	height:80%;
	width:45%;
	background: url(images/pic8.png) no-repeat center transparent; 
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;  
    z-index:20;

  }
    #page2_part6_txt1{
  position:absolute;
  left:0;
  width:100%;
  height:auto;
  text-align:center;
  float:left;
  z-index:6;
  }
   #page2_part6_txt2{
  position:absolute;
  float:left;
  z-index:6;
  }
   #page2_part6_txt3{
  position:absolute;
  height:auto;
  float:left;
  z-index:6;
  }  
  				/*-----------------------------------------page2_part7-------------------------------------*/
				
	 
     #page2_part7{
  position:absolute;
  top:700vh;
  left:0;
  width:100%;
  height:100vh;
  float:left;
  z-index:60;
  } 
  
  
 #page2_part7_p1{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:33.33%;
    background-color:#f7f7f7;
 }

  #page2_p7p1_txt1{
  position:absolute;
  float:left;
  z-index:8;  
  }
  
  #page2_p7p1_txt2{
  position:absolute;
  float:left;
  z-index:8;  
  }

 #page2_part7_p2{
  position:absolute;
  top:33.33%;
  left:0;
  width:100%;
  height:33.33%;
    color:#fff;
  background-color:#464646;
  
  }
    #page2_p7p2_txt1{
  position:absolute;
    left:8%;
    width:35%;
  float:left;
  z-index:8;  
  }
  
  #page2_p7p2_txt2{
  position:absolute;
    left:8%;
  float:left;
  z-index:8;  
  }
   #page2_part7_p3{
  position:absolute;
  top:66.66%;
  left:0;
  width:100%;
  height:33.33%;
  background-color:#f7f7f7;
  
  }
    #page2_p7p3_txt1{
  position:absolute;
  float:left;
  z-index:8;  
  }
  
  #page2_p7p3_txt2{
  position:absolute;
  float:left;
  z-index:8;  
   }
   #page2_p7_pic1{
    position:absolute;
	top:2%;
	left:0%;
	height:90%;
	width:55%;
	background: url(images/pic9.png) no-repeat center transparent; 
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;  
    }
   	
    #page2_p7_pic2{
        position:absolute;
	top:2%;
	left:45%;
	height:90%;
	width:60%;
	background: url(images/pic10.png) no-repeat center transparent; 
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;  
    }
     #page2_p7_pic3{
        position:absolute;
	top:2%;
	left:0%;
	height:90%;
	width:55%;
	background: url(images/pic11.png) no-repeat center transparent; 
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;  
    }  
   
   
   				/*-----------------------------------------page2_part8-------------------------------------*/
				 				/*-----------------------------------------page2_part8-------------------------------------*/
  
   #page2_part8{
  position:absolute;
  top:800vh;
  left:0;
  width:100%;
  height:100vh;
  color:#fff;
  background-color:#40b2fa;
  float:left;
  z-index:80;
  } 
    #page2_part8_clone{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  color:#fff;
  float:left;
  z-index:10;
  visibility:hidden;
  } 

    #page2_part8_txt1{
  position:absolute;
  margin-left:0;
  width:100%;
  height:auto;
  text-align:center;
  float:left;
  z-index:6;
  }
   #page2_part8_txt2{
  position:absolute;
  height:30%;
  float:left;
  z-index:6;
  }
   #page2_part8_txt3{
  position:absolute;
  width:45%;
  height:auto;
  float:left;
  z-index:6;
  }  
   #page2_p8_pic1{
        position:absolute;
        bottom:190vh;left:0;
	height:70vh;
	width:100%;
	background: url(images/pic12.png) no-repeat center transparent; 
	-webkit-background-size: 100% 100%; 
    -moz-background-size: 100% 100%; 
    -o-background-size: 100% 100%; 
    background-size: 100% 100%;  
    z-index:200;
    }

   
       	#cover2{
	position:absolute;
	top:0;left:0;
	height:100%;
	width:100%;
	z-index:1000;	
	}
   				/*-----------------------------------------page2_part9-------------------------------------*/
				
	
   #page2_part9{
  position:absolute;
  top:900vh;
  left:0;
  width:100%;
  height:100vh;
  background-color:#fff;
  float:left;
  z-index:801;
  } 
#wrap9{
position:absolute;
top:0;left:0;
width:100%;
height:60%;
float:left;
}
  .p2p9_pic{
  position:relative;
  top:2%;
  margin-left:10%;
  text-align:center;
  float:left;
  z-index:8;
  }
  .p2_p9_det{
  position:absolute;
  margin-top:65%;
  width:100%;
  height:auto;
  font-size:20px;
   }

   
  #page2_part9_pic1{
	  width:20%;
 	 height:150px;
	background: url(images/pic16.png) no-repeat  transparent; 
	background-position:top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; 
  
  }
     
  #page2_part9_pic2{
	    width:20%;
 	 height:150px;
	background: url(images/pic15.png) no-repeat  transparent; 
	background-position:top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; 
  
  }
     
  #page2_part9_pic3{
	   width:20%;
 	 height:150px;
	background: url(images/pic14.png) no-repeat  transparent; 
	background-position:top center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  
  }
  .p9desc{padding-top:10px;font-size:16px;}
  #footer{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:40%;
  color:#fff;
  background-color:#464646;
  float:left;
  font-weight:100;
  z-index:80;
  }
  #foot_title{
  position:absolute;
  top:10%;
  left:3%;
  font-size:35px;
  width:100%;
  float:left;
  z-index:80; 
  }
    #foot_sub{
  position:absolute;
  top:35%;
  left:5%;
  font-size:20px;
  line-height:35px;
  width:100%;
  float:left;
  z-index:80; 
  }
  #foot_logo{
    position:absolute;
	bottom:15%;left:0;
	height:15%;
	width:100%;
	background: url(images/title.png) no-repeat center transparent; 
	-webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; 
    }
	#foot_email{
	position:absolute;
	width:99%;
	bottom:5%;left:0;
	text-align:center;
	color:#fff;
	float:left;
	z-index:100;	
	}
	     #page2_part10{
  position:absolute;
  top:1000vh;
  left:0;
  width:100%;
  height:100vh;
  background-color:#fff;
  float:left;
  z-index:80;
  } 
	  .left_indent{margin-left:5vw;}
   .right_indent{margin-left:48vw;}
   	  .txt1{top:5%;font-weight:300;font-size:48px;}
   .txt2{top:30%;width:52%;font-size:40px;font-weight:100;}
   .txt3{top:52%;width:45%;font-size:20px;font-weight:100;}
    .subtxt1{top:21%;font-size:21px;}
   .subtxt2{top:40%;font-size:18px;width:45%;font-weight:100;}
   			
		@media(max-height: 650px) {
	.p2p2_pic{margin-top:8%;}
	.p2_pic_det{top:7%;font-size:12px;}
	}
 
	@media(max-width: 1150px) {
	
	 #page1_text1{font-size:25px;left:60%;}
	 #page1_text2{left:65%;}
	 #title{left:64%;}
	 .p2p2_pic{margin-top:10%;}
	.p2_pic_det{margin-top:65%;}
	 #page2_part6_txt2{font-size:35px;}
	#page2_p3p2_txt1{margin-left:15%;font-size:36px;}
	
	 .p2_p9_det{margin-top:80%;}
	
		  .left_indent{margin-left:5vw;}
   .right_indent{margin-left:48vw;}
   	  .txt1{top:5%;font-weight:300;font-size:50px;}
   .txt2{top:33%;width:50%;font-size:33px;font-weight:100;}
   .txt3{top:48%;width:45%;font-size:20px;font-weight:100;}
    .subtxt1{top:21%;font-size:21px;}
   .subtxt2{top:40%;font-size:18px;width:45%;font-weight:100;}
   		@media(max-height: 650px) {
	.p2p2_pic{margin-top:8%;}
	.p2_pic_det{top:30%;font-size:12px;}
	}
	
	}
	@media(max-width: 850px) {
	
	 #page1_text1{font-size:20px;left:56%;width:40%;}
	 #page1_text2{top:45%;left:64%;font-size:16px;}
	   #title{
	top:55%;
	left:60%;
	transform:scale(0.95);
	}
	.p1_txt3{font-size:15px;}
  .page1_subtext{font-size:14px;}
    #page2_part2_txt1{font-size:30px;}
	 .p2p2_pic{margin-top:15%;}
	.p2_pic_det{margin-top:85%;font-size:14px;}
	#page2_part6_pic1{top:10%;}
	.p2desc{font-size:12px;}
	.p9desc{font-size:12px;}
	 .p2_p9_det{margin-top:100%;font-size:14px;}
	
		  .left_indent{margin-left:5vw;}
   .right_indent{margin-left:48vw;}
   	  .txt1{top:5%;font-weight:300;font-size:33px;}
   .txt2{top:30%;width:70%;font-size:24px;font-weight:100;}
   .txt3{top:50%;width:45%;font-size:18px;font-weight:100;}
    .subtxt1{top:21%;font-size:18px;width:100%;}
   .subtxt2{top:40%;font-size:15px;width:45%;font-weight:100;}
	#foot_title{font-size:24px;}#foot_sub{font-size:18px;line-height:18px;}
	@media(max-height: 520px) {
		#page1_text2{margin-top:5%;}
	.p2p2_pic{margin-top:8%;}
	.p2_pic_det{top:35%;font-size:12px;}
	}
	}
	@media(max-height: 650px) {
	.p2p2_pic{margin-top:10%;}
	.p2_pic_det{margin-top:45%;font-size:14px;}
	}
	  	@media(max-height: 520px) {
		#page1_text2{margin-top:5%;}
	.p2p2_pic{margin-top:8%;}
	.p2_pic_det{top:15%;font-size:12px;}
	#apos{transform:scale(0.6);}
	}
	
	@media(min-width: 1300px) {
	#page2_p3p2_txt1{margin-left:15%;}
	.p2p2_pic{margin-top:7%;}
	.p2_pic_det{margin-top:50%;}
	.p2_p9_det{margin-top:65%;}
	 .txt1{top:5%;font-weight:300;font-size:55px;}
	 #page2_part1_txt2{width:52%;font-size:35px;}
	 #page2_p3_pic1{left:50%;}
	 .sp{width:30%;}
	 .txt3{top:48%;}
	   .right_indent{margin-left:45vw;}
	}
	
	
}